doctype html
html(lang="en")
  head
    block head
    include ../includes/core/head.pug
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W9CDKHV" height="0" width="0" style="display:none;visibility:hidden")
    .body-content
      block content
    footer.footer
      .footer__inner.site-width
        .footer__left
          a(href="/privacy") Privacy
        .footer__right
          span.footer__attr &copy; 2020 | Built by <a href="https://www.andrewhaine.co.uk" target="_blank" rel="noopener">Andrew Haine</a>
    script(src="/content/js/dist/app.js")
