html
  head
    block head
    include ../includes/core/head.pug
  body
    block content
    script(src="/content/js/dist/app.js")
    script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e9dfcb5f5c6146f")
