<script src="https://config.metomic.io/config.js?id=prj:ee7a7bbe-467c-4f64-ad37-ccf02a480f53" crossorigin charset="utf-8"></script>
<script src="https://consent-manager.metomic.io/embed.js" crossorigin charset="utf-8"></script>
link(href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;700&display=swap" rel="stylesheet")
link(rel="stylesheet" href="/content/css/app.css")
