extends layouts/default.pug

include ./includes/core/header.pug

block head
  title=title

block content
  +header('/about')
  .content.content-page__content
    h1 Privacy Policy
    h2 Google advertising cookies
    p Radio Roulette uses Google Adsense to serve ads on the page and cover the running costs for the site.
    ul
      li Third party vendors, including Google, use cookies to serve ads based on a previous visit to your website or other websites.
      li Google's use of advertising cookies enables it and its partners to serve ads based on their visit to Radio Roulette and/or other sites on the Internet.
      li You may opt out of personalised advertising by visiting <a href="https://www.google.co.uk/settings/ads">Ad Settings</a>. (Alternatively, you may opt out of a third-party vendor's use of cookies for personalised advertising by visiting <a href="www.aboutads.info">www.aboutads.info</a>.)
    p Radio Roulette will not sell your data to any third parties (or your mum), we store anonymised spin data for our own analytics but we cannot trace spins back you you. So rest assured you can spin away without us knowing about any of the other horrible things you get up to on the internet.
    p We also use Google Analytics, but again, this data is fully anonymised.
