extends layouts/default.pug

include ./includes/core/header.pug

block head
  title=title

block content
  +header('/about')
  .content.content-page__content
    h1 Privacy Policy
    p Born out of the frustration of office indecision, Radio Roulette will open your ears to radio stations from across the UK. In a matter of seconds you could be:
    
