.btn
  display: inline-block
  appearance: none
  color: $color__white
  border-radius: 200px
  text-decoration: none

.btn--sm
  padding: 7px 28px 8px

.btn--solid-purple
  background-color: $color__purple--lighter

  &:hover
    background-color: lighten($color__purple--lighter, 10)
