@keyframes spin
  0%
    transform: none

  100%
    transform: rotate(1turn)

.wheel-canvas
  display: block
  background-color: $color__grey--dark
  border-radius: 100%
  width: 90%
  max-width: 1000px
  margin: 0 auto
  // transform: rotate(-22.5deg)
  // animation: spin 1s linear infinite
